body {
    background-color: #000000;
    background-image: url("../assets/bg_html.png");
}

#game,
.game {
    margin: auto;
    margin-top: 16px;
    border: 4px solid #009ce3;
    width: 800px;
}

#name {
    visibility: hidden;
    position: absolute;
    margin: 60px 0px 0px 100px;
    width: 600px;
    height: 450px;
    background-color: #fbb03b;
    border: solid 5px #009ce3;
    border-radius: 5px;
}

#close {
    position: absolute;
    left: 572px;
}

#nameInput {
    position: absolute;
    top: 350px;
    left: 145px;
    width: 300px;
    padding: 10px;
    border: solid 5px #009ce3;
    border-radius: 5px;
    color: #009ce3;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
}
